<form class="form-inline" *ngIf="!authService.getUser()">

    <div class="form-group">
        <label for="userName">User: (type <em>user</em>)</label>
        <input type="text" name="userName" class="form-control" #userName>
    </div>
    <div class="form-group">
        <label for="password">Password: (type <em>password</em>)</label>
        <input type="password" class="form-control" name="password" #password>
    </div>
    <a class="bnt btn-default" (click)="login(userName.value,password.value)">Entrar!</a>
    {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
